
{{template "default" .}}
{{define "title"}}Добавить товар{{end}}
{{define "content"}}
  {{ if .IsLogin}}
<section class="addProduct col-11 col-md-10 col-lg-8 mx-auto">
  <form action="/product/addPOST" method="post" enctype="multipart/form-data">
    <h1>Добавить товар</h1>
    <hr/>
    <div class="mb-3">
      <label class="form-label col-form-label" for="title">Заголовок</label>
      <input class="form-control form-control-sm" id="title" name="title"/>
    </div>
    <div class="mb-3">
      <label class="form-label col-form-label" for="section">Секция</label>
      <select class="form-select form-select-sm" name="section" id="section">{{range $o := .Sections}}
        <option value="{{$o.ID}}">{{$o.Title}}</option>{{end}}
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label col-11 col-form-label" for="description">Описание</label>
      <textarea class="form-control form-control-sm" id="description" name="description" cols="30" rows="10"></textarea>
    </div>
    <div class="mb-3">
      <label class="form-label" for="addImg">Прикрепить изображения</label>
      <input class="form-control form-control-sm" id="addImg" name="addImg" type="file" multiple="multiple"/>
    </div>
    <div class="mb-3">
      <label class="form-label col-11 col-form-label" for="priceProduct">Цена</label>
      <div class="input-group input-group-sm">
        <input class="form-control form-control-sm" id="priceProduct" name="priceProduct"/><span class="input-group-text">&#8381;</span>
      </div>
    </div>
    <div class="mb-3">
      <input type="hidden" name="csrfToken" value="{{.Csrf}}" readonly="readonly"/>
      <input type="hidden" name="userID" value="{{.UserId}}" readonly="readonly"/>
      <button class="btn btn-primary" type="submit">Создать</button>
    </div>
  </form>
</section>{{end}}
{{end}}
{{define "scripts"}}{{end}}