
{{template "default" .}}
{{define "title"}}Авторизация{{end}}
{{define "content"}}
{{if .IsLogin}}
<section class="chatSection">
  <div class="chat">
    {{range $m := .Messages}}
     {{if eq $m.UserID .UserID}}
    <div class="YouMessage Message"></div> {{else}}
    <div class="Message"></div> {{end}}
    {{else}}
    {{end}}
  </div>
  <div class="addMessage">
    <form action="/chat/user/{{.InterlocutorID}}/addMessage" method="post">
      <h2>Написать сообщение</h2>
      <div class="mb-3 row p-relative b-0 r-0">
        <label for="textMsg col-12 fs-4">Текст сообщения</label>
        <textarea id="textMsg" name="textMsg" cols="60" rows="10"></textarea>
        <input type="hidden" name="csrf_token" value="{{.Csrf}}"/>
        <input type="hidden" name="UserID" value="{{.UserID}}"/>
        <input type="hidden" name="InterlocutorID" value="{{.InterlocutorID}}"/>
        <button type="submit">Отправить</button>
      </div>
    </form>
  </div>
</section>{{end}}
{{end}}
{{define "scripts"}}
{{end}}