
{{template "default" .}}
{{define "title"}}Авторизация{{end}}
{{define "content"}}
<section class="login">
  <form class="loginForm" method="POST" action="/login/post">
    <div class="mb-3 row">
      <h1>Авторизация</h1>
    </div>
    <div class="mb-3 row">
      <label class="form-label col-md-3 col-form-label" for="nameOrEmail">Имя или email:</label>
      <div class="col-md-8">
        <input class="form-control form-control-sm" id="nameOrEmail" name="nameOrEmail"/>
      </div>
    </div>
    <div class="mb-3 row">
      <label class="form-label col-md-3 col-form-label" for="password">Пароль:</label>
      <div class="col-md-8">
        <input class="form-control form-control-sm" id="password" name="password"/>
      </div>
    </div>
    <div class="mb-3 row">
      <button class="btn btn-primary" type="submit">Войти</button>
    </div>
  </form>
</section>{{end}}
{{define "scripts"}}
  {{if .ErrLogin}}
<script>alert("{{.ErrText}}");</script>  {{end}}
{{end}}