
{{template "default" .}}
{{define "title"}}Мои товары{{end}}
{{define "content"}}
{{if .IsLogin}}
<section class="myProducts row mx-auto">{{range $p := .Products}}
  <div class="product row col-11 col-md-6 col-xs-3">
    <div class="mx-auto row container-fluid p-0"><img class="col-12 p-0" src="/static/images/{{$p.ImgUrl}}" alt="фото товара"/>
      <div class="productInfo col-12">
        <h2 class="title"> <a class="link-dark text-decoration-none" href="/product/i/{{$p.ID}}">{{$p.Title}}</a></h2><span class="price">{{$p.Price}}&#8381;</span>
      </div>
    </div>
  </div>{{else}}
  <h1>Пусто =(</h1>{{end}}
</section>{{end}}
{{end}}
{{define "scripts"}}{{end}}