| {{template "default" .}}
| {{define "title"}}Авторизация{{end}}

| {{define "content"}}
section.login
  form.loginForm(method="POST" action="/login/post")
    div.mb-3.row
      h1 Авторизация
    div.mb-3.row
      label(for="nameOrEmail" class="form-label col-md-3 col-form-label") Имя или email:
      div.col-md-8
        input(id="nameOrEmail" name="nameOrEmail" class="form-control form-control-sm")
    div.mb-3.row
      label(for="password" class="form-label col-md-3 col-form-label") Пароль:
      div.col-md-8
        input(id="password" name="password" class="form-control form-control-sm")
    div.mb-3.row
      button(type="submit" class="btn btn-primary") Войти
| {{end}}

| {{define "scripts"}}
|   {{if .ErrLogin}}
script alert("{{.ErrText}}");
|   {{end}}
| {{end}}