| {{template "default" .}}

| {{define "title"}}Мои товары{{end}}

| {{define "content"}}
| {{if .IsLogin}}
section.myProducts.row.mx-auto
  | {{range $p := .Products}}
  div(class="product row col-11 col-md-6 col-xs-3")
    div.mx-auto.row.container-fluid.p-0
      img(src="/static/images/{{$p.ImgUrl}}" class="col-12 p-0" alt="фото товара")
      div(class="productInfo col-12")
        h2.title 
          a(href="/product/i/{{$p.ID}}" class="link-dark text-decoration-none") {{$p.Title}}
        span.price {{$p.Price}}&#8381;
        p {{$p.DateStr}}
  | {{else}}
  h1 Пусто =(
  | {{end}}
| {{end}}
| {{end}}

| {{define "scripts"}}{{end}}