main {
  padding-top: 10px; }

.Main .product {
  height: 400px; }
  .Main .product > div {
    box-shadow: 1px 2px 4px 2px #888; }
    .Main .product > div img {
      margin-bottom: 5px;
      height: auto; }
    .Main .product > div .productInfo .title {
      font-size: 2em; }
    .Main .product > div .productInfo .price {
      font-size: 1.3em; }

.register .registerForm {
  width: 90%;
  margin: 0 auto;
  max-width: 920px; }
  .register .registerForm div.mb-3 {
    max-width: 900px; }
  .register .registerForm label {
    font-size: 1em; }
  .register .registerForm label.necessarilyInput::before {
    content: "*";
    color: red;
    font-size: 0.9em;
    position: relative;
    bottom: 3px; }
  .register .registerForm button[type="submit"] {
    width: 250px;
    margin-left: 12px; }

.login .loginForm {
  width: 90%;
  margin: 0 auto;
  max-width: 920px; }
  .login .loginForm label {
    font-size: 1em; }
  .login .loginForm div.mb-3 {
    max-width: 900px; }
  .login .loginForm button[type="submit"] {
    width: 250px;
    margin-left: 12px; }

.userProfil {
  padding: 0 10px; }
  .userProfil .UserPubInfo {
    display: flex; }
    .userProfil .UserPubInfo .UserAvatarDiv img {
      width: 200px; }
    .userProfil .UserPubInfo .UserPubMainInfo {
      margin-left: 20px; }
  .userProfil .userInfo button[aria-controls="dropSettingsUser"] {
    margin-left: auto;
    margin-right: auto; }
  .userProfil .userInfo #dropSettingsUser {
    margin-left: auto;
    margin-right: auto; }
    .userProfil .userInfo #dropSettingsUser form label[for="pubEmail"] {
      position: relative;
      bottom: 1px;
      font-size: 1em; }

.myProducts .product {
  height: 400px; }
  .myProducts .product > div {
    box-shadow: 1px 2px 4px 2px #888; }
    .myProducts .product > div img {
      margin-bottom: 5px;
      height: auto; }
    .myProducts .product > div .productInfo .title {
      font-size: 2em; }
    .myProducts .product > div .productInfo .price {
      font-size: 1.3em; }

.product .ProductInfo #productImgCarousel {
  height: 350px !important;
  margin-bottom: 15px; }
  .product .ProductInfo #productImgCarousel .carousel-inner {
    height: 350px !important; }
    .product .ProductInfo #productImgCarousel .carousel-inner .carousel-item {
      height: 350px !important; }
      .product .ProductInfo #productImgCarousel .carousel-inner .carousel-item img {
        height: 350px !important;
        max-width: 100%; }
  .product .ProductInfo #productImgCarousel .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#888' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; }
  .product .ProductInfo #productImgCarousel .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#888' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; }
.product .ProductInfo .MainInfo .title {
  padding: 0 7px;
  margin-bottom: 10px; }
.product .ProductInfo .MainInfo .sellerInfo {
  padding: 5px; }
  .product .ProductInfo .MainInfo .sellerInfo .sellerAvatar {
    width: 60px;
    height: 60px; }
  .product .ProductInfo .MainInfo .sellerInfo .sellerName {
    margin-left: 10px; }
.product .ProductInfo .MainInfo .description {
  padding: 0 7px;
  min-height: 80px;
  font-size: 0.95em;
  margin-bottom: 10px; }
.product .ProductInfo .MainInfo .price {
  padding: 0 7px; }

.userAcc .product {
  height: 500px; }
  .userAcc .product > div {
    box-shadow: 1px 2px 4px 2px #888; }
    .userAcc .product > div img {
      margin-bottom: 5px;
      height: auto; }
    .userAcc .product > div .productInfo .title {
      font-size: 2em; }
    .userAcc .product > div .productInfo .price {
      font-size: 1.3em; }

@media screen and (max-width: 992px) {
  header {
    padding: 0 10px 10px 10px; }

  header > nav {
    padding: 10px; }

  header ul li a {
    padding: 5px; }

  .userProfil .UserPubInfo {
    margin-left: auto;
    margin-right: auto; }
  .userProfil .userInfo button[aria-controls="dropSettingsUser"] {
    margin-top: 10px; }

  .myProducts .product, .Main .product, .userAcc .product {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; } }
@media screen and (min-width: 992px) {
  .navbar-brand {
    margin-left: 8px; }

  .navbar-container {
    position: sticky;
    top: 0;
    overflow-y: auto;
    height: 100vh; }

  .navbar-container .navbar {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%; }

  .navbar-container .navbar-collapse {
    align-items: flex-start; }

  .navbar-container .nav {
    flex-direction: column;
    flex-wrap: nowrap; }

  .navbar-container .navbar-nav {
    flex-direction: column !important; }

  .myProducts .product, .Main .product, .userAcc .product {
    margin-right: 9px; } }

/*# sourceMappingURL=style.css.map */
