main
  padding-top: 10px

.Main
  .product
    height: 400px
    > div
      box-shadow: 1px 2px 4px 2px #888
      img
        margin-bottom: 5px
        height: auto
      .productInfo
        .title
          font-size: 2em
        .price
          font-size: 1.3em

.register
  .registerForm
    width: 90%
    margin: 0 auto
    max-width: 920px

    div.mb-3
      max-width: 900px

    label
      font-size: 1em

    label.necessarilyInput::before
      content: "*"
      color: red
      font-size: .9em
      position: relative
      bottom: 3px

    button[type="submit"]
      width: 250px
      margin-left: 12px

.login
  .loginForm
    width: 90%
    margin: 0 auto
    max-width: 920px

    label
      font-size: 1em

    div.mb-3
      max-width: 900px

    button[type="submit"]
      width: 250px
      margin-left: 12px

.userProfil
  padding: 0 10px
  .UserPubInfo
    display: flex

    .UserAvatarDiv
      img
        width: 200px

    .UserPubMainInfo
      margin-left: 20px
  
  .userInfo
    button[aria-controls="dropSettingsUser"]
      margin-left: auto
      margin-right: auto
    
    #dropSettingsUser
      margin-left: auto
      margin-right: auto
      form
        label[for="pubEmail"]
          position: relative
          bottom: 1px
          font-size: 1em

.myProducts
  .product
    height: 400px
    > div
      box-shadow: 1px 2px 4px 2px #888
      img
        margin-bottom: 5px
        height: auto
      .productInfo
        .title
          font-size: 2em
        .price
          font-size: 1.3em

.product
  .ProductInfo
    #productImgCarousel
      height: 350px !important
      margin-bottom: 15px
      .carousel-inner
        height: 350px !important
        .carousel-item
          height: 350px !important
          img
            height: 350px !important
            max-width: 100%
      .carousel-control-prev-icon 
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#888' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important
      .carousel-control-next-icon 
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#888' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important
    .MainInfo
      .title
        padding: 0 7px
        margin-bottom: 10px
      .sellerInfo
        padding: 5px
        .sellerAvatar
          width: 60px
          height: 60px
        .sellerName
          margin-left: 10px
      .description
        padding: 0 7px
        min-height: 80px
        font-size: .95em
        margin-bottom: 10px
      .price
        padding: 0 7px

.userAcc
  .product
    height: 500px
    > div
      box-shadow: 1px 2px 4px 2px #888
      img
        margin-bottom: 5px
        height: auto
      .productInfo
        .title
          font-size: 2em
        .price
          font-size: 1.3em

.chatSection
  .chat
    .Message
      background: #f3f3f3
      padding: 5px
      margin-bottom: 10px
      border-radius: 10px
    
    .MyMessage
      background: #dfdfdf !important
  
  .addMessage
    form
      textarea
        border-radius: 10px
        margin-bottom: 10px

.chats
  .chatList
    .chat
      border-top: 1px solid #aaa
      border-bottom: 1px solid #aaa
      padding: 5px

@media screen and (max-width: 992px) 
  header
    padding: 0 10px 10px 10px

  header 
    > nav 
      padding: 10px

  header ul li a
    padding: 5px
  
  .userProfil
    .UserPubInfo
      margin-left: auto
      margin-right: auto

    .userInfo
      button[aria-controls="dropSettingsUser"]
        margin-top: 10px
  
  .myProducts, .Main, .userAcc
    .product
      margin-left: auto
      margin-right: auto
      margin-bottom: 20px
  
@media screen and (min-width: 992px) 
  .navbar-brand 
    margin-left: 8px

  .navbar-container 
    position: sticky
    top: 0
    overflow-y: auto
    height: 100vh

  .navbar-container .navbar 
    align-items: flex-start
    justify-content: flex-start
    flex-wrap: nowrap
    flex-direction: column
    height: 100%

  .navbar-container .navbar-collapse 
    align-items: flex-start

  .navbar-container .nav 
    flex-direction: column
    flex-wrap: nowrap

  .navbar-container .navbar-nav 
    flex-direction: column !important
      
  .myProducts, .Main, .userAcc
    .product
      margin-right: 9px
